@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Testes</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Testando funcionalidades no GitHub</h2>
        <p>
            Pull, changes, commits, push, merge, rebase, squashing...
        </p>
    </div>
</div>